@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}


html,body{
    height: 100%;
    width: 100%;
}

.notificationIcon{
    position: relative;
}
.notificationIcon::before{
    content: attr(data-count);
    position: absolute;
    top: -0.45em;
    right : -0.45em;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
}